<div>
    <h2>User Goals</h2>
  
    <!-- List of Goals -->
    @for (goal of goals; track goal.goalId) {
    <div>
      <div>
        <p>Title: {{ goal.title }}</p>
        <p>Target Amount: {{ goal.targetAmount | currency }}</p>
        <p>Current Amount: {{ goal.currentAmount | currency }}</p>
        <p>Deadline: {{ dateService.toDate(goal.deadline) | date: 'short' }}</p>
        <button (click)="deleteGoal(goal.goalId)">Delete</button>
        <button (click)="updateCurrentAmount(goal.goalId, 100)">Add 100 to current amount</button> <!-- Example button -->
      </div>
    </div>
    }
  
    <!-- Add New Goal Form -->
    <form (submit)="createGoal()">
      <label for="title">Title:</label>
      <input type="text" id="title" [(ngModel)]="newGoal.title" name="title" required />
  
      <label for="targetAmount">Target Amount:</label>
      <input type="number" id="targetAmount" [(ngModel)]="newGoal.targetAmount" name="targetAmount" required />
  
      <label for="deadline">Deadline:</label>
      <input type="date" id="deadline" [(ngModel)]="newGoal.deadline" name="deadline" required />
  
      <button type="submit">Add Goal</button>
    </form>
  </div>
  