<!-- @if (isMobile) {
<mat-card class="p-1 mat-accent shadow" appearance="raised">
    <mat-card-title class="!flex justify-end pb-2 px-2">
        <button mat-icon-button mat-dialog-close class="top-[-10px] left-[19px]"><mat-icon>close</mat-icon></button>
    </mat-card-title>

    <mat-card-content>
        <section class=" pt-2">
            <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
               

                <mat-form-field floatLabel="always" class="w-full ">
                    <mat-label>Amount</mat-label>
                    <input matInput type="text" formControlName="amount" class="example-right-align" placeholder="0" />
                    <span matTextPrefix>$&nbsp;</span>
                    <span matTextSuffix>.00</span>
                </mat-form-field>


                <section class="grid grid-cols-4 gap-2  scale-95">

                    <button mat-stroked-button class="w-10 !h-[58px] scale-90" *ngFor="let button of buttons"
                        (click)="appendExpression(button)">
                        {{ button }}
                    </button>

                </section>
                <div class="button-container pt-5">
                    <button mat-stroked-button color="primary" mat-dialog-close
                        type="submit"><mat-icon>add</mat-icon>Add
                        Transaction</button>
                </div>
            </form>
        </section>
    </mat-card-content>
</mat-card>
} @else { -->

@if(isMobile) {

<!-- Header for Mobile -->
<!-- Mobile Header -->
<div class="flex items-center justify-between bg-gray-100 p-3 rounded-lg sm:hidden">
    <h6 class="text-sm font-semibold text-gray-700">Add Transaction</h6>
    <div class="flex gap-3">
        <!-- Add Button Icon -->
        <button mat-icon-button (click)="onSubmit()" [disabled]="transactionForm.invalid" matTooltip="Add Transaction"
            class="text-blue-500 hover:text-blue-600">
            <mat-icon>check</mat-icon>
        </button>

        <!-- Close Button Icon -->
        <button mat-icon-button type="button" mat-dialog-close matTooltip="Close"
            class="text-gray-500 hover:text-gray-600">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

}
<div class="max-w-2xl mx-auto p-4 overflow-auto " [ngClass]="{'h-[100vh]': isMobile,'!p-10': isMobile}">

    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="space-y-6">



        @if(!isMobile) {
        <h5 class="text-sm font-semibold text-center text-gray-700"> Add Transaction</h5>
        }



        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Payee Name</mat-label>
            <input matInput formControlName="payee" placeholder="Enter Payee Name" class="rounded-md border-2 p-2" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Amount</mat-label>
            <input matInput type="number" formControlName="amount" placeholder="Enter Amount"
                class="rounded-md border-2 p-2" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" (click)="startDatePicker.open()" formControlName="date"
                placeholder="Choose Date" class="rounded-md border-2 p-2" />
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <div class="flex flex-col sm:flex-row gap-2">
            <!-- Select Tag -->
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Select Tag</mat-label>
                <mat-select [multiple]="true" formControlName="tag" class="rounded-md border-2 p-2"
                    placeholder="Select Tag">
                    @for (item of tagList; track item) {
                    <mat-option [value]="item.name">{{ item?.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <!-- Type -->
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" class="rounded-md border-2 p-2" placeholder="Select Tag">
                    @for (item of typeList; track item) {
                    <mat-option [value]="item">{{ item }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>


        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Notes</mat-label>
            <textarea matInput formControlName="description" [rows]="3" placeholder="Enter agent description"
                class="rounded-md border-2 p-2"></textarea>
        </mat-form-field>



        <div class="flex flex-col justify-end sm:flex-row gap-4" *ngIf="!isMobile">
            <button mat-flat-button type="submit" [disabled]="transactionForm.invalid"
                class="w-full sm:w-auto py-3 sm:px-6 rounded-md text-white bg-blue-500 hover:bg-blue-600">
                Add
            </button>
            <button mat-flat-button type="button" mat-dialog-close
                class="w-full sm:w-auto py-3 sm:px-6 rounded-md text-white bg-gray-500 hover:bg-gray-600">
                Close
            </button>
        </div>

    </form>
</div>


<!-- } -->