@if (breakpointService.device.isMobile || (breakpointService.device.isTablePortrait && isTransactionsPage)) {
<mobile-transaction-list
  [transactions]="allTransactions"
  [searchTerm]="searchTerm"
  [selectedCategory]="selectedCategory"
  [selectedType]="selectedType"
  [selectedDate]="selectedDate"
  [selectedDateRange]="selectedDateRange"
  (editTransaction)="editTransaction($event)"
  (deleteTransaction)="deleteTransaction($event)"
  (addTransaction)="addTransactionDialog()"
  (importTransactions)="openImportDialog()"
  (searchTermChange)="searchTerm = $event; onSearchChange()"
  (selectedCategoryChange)="selectedCategory = $event; onCategoryChange()"
  (selectedTypeChange)="selectedType = $event; onTypeChange()"
  (selectedDateRangeChange)="selectedDateRange = $event; onCategoryChange()">
</mobile-transaction-list>

} @else {

<mat-card class="p-2 shadow-lg border-0 rounded-xl transaction-list-container h-[83vh]">
	<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="custom-tabs" [(selectedIndex)]="selectedTabIndex">
		<mat-tab class="max-h-full">
			<ng-template mat-tab-label>
				<div class="flex items-center space-x-2 px-4 py-2">
					<mat-icon class="text-primary">compare_arrows</mat-icon>
					<span class="font-semibold text-gray-700 text-xs">Transactions</span>
				</div>
			</ng-template>

			<div class="p-2 overflow-hidden">

				<!-- Search and Filter Section -->
				<search-filter
					[transactions]="allTransactions"
					[searchTerm]="searchTerm"
					[selectedCategory]="selectedCategorySingle"
					[selectedType]="selectedType"
					[selectedYear]="selectedYear"
					[selectedMonth]="selectedMonth"
					[selectedMonthOption]="selectedMonthOption"
					[selectedDate]="selectedDate"
					[selectedDateRange]="selectedDateRange"
					[filteredCount]="getFilteredCount()"
					[currentYearCount]="getCurrentYearCount()"
					(searchTermChange)="searchTerm = $event; onSearchChange()"
					(selectedCategoryChange)="selectedCategorySingle = $event; onCategoryChange()"
					(selectedTypeChange)="selectedType = $event; onTypeChange()"
					(selectedYearChange)="selectedYear = $event; onYearChange()"
					(addTransaction)="addTransactionDialog()"
					(importTransactions)="openImportDialog()"
					(openFilterDialog)="openFilterDialog()"
					(viewAnalytics)="viewAnalytics()"
					(expandTable)="expandTable()"
					(selectedDateRangeChange)="selectedDateRange = $event; onDateRangeChange()"
					(clearDateFilter)="clearDateFilter()"
					(clearAllFilters)="clearAllFilters()"
				></search-filter>

				<!-- Table Container -->
				<transaction-table
					[transactions]="allTransactions"
					[searchTerm]="searchTerm"
					[selectedCategory]="selectedCategory"
					[selectedType]="selectedType"
					[selectedDate]="selectedDate"
					[selectedDateRange]="selectedDateRange"
					(editTransaction)="editTransaction($event)"
					(deleteTransaction)="deleteTransaction($event)"
					(startRowEdit)="startRowEdit($event)"
					(saveRowEdit)="saveRowEdit($event)"
					(cancelRowEdit)="cancelRowEdit($event)"
					(addTransaction)="addTransactionDialog()">
				</transaction-table>
			</div>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				<div class="flex items-center space-x-2 px-4 py-2">
					<mat-icon class="text-primary">attach_money</mat-icon>
					<span class="font-semibold text-gray-700 text-xs">Accounts</span>
				</div>
			</ng-template>
			<div class="p-6">
				<user-accounts></user-accounts>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<div class="flex items-center space-x-2 px-4 py-2">
					<mat-icon class="text-primary">local_offer</mat-icon>
					<span class="font-semibold text-gray-700 text-xs">Categories</span>
				</div>
			</ng-template>
			<div class="p-6">
				<user-category></user-category>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<div class="flex items-center space-x-2 px-4 py-2">
					<mat-icon class="text-primary">analytics</mat-icon>
					<span class="font-semibold text-gray-700 text-xs">Reports</span>
				</div>
			</ng-template>
			<app-reports></app-reports>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<div class="flex items-center space-x-2 px-4 py-2">
					<mat-icon class="text-primary">receipt_long</mat-icon>
					<span class="font-semibold text-gray-700 text-xs">Tax</span>
				</div>
			</ng-template>
			<app-tax></app-tax>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<div class="flex items-center space-x-2 px-4 py-2">
					<mat-icon class="text-yellow-600">note</mat-icon>
					<span class="font-semibold text-gray-700 text-xs">Notes</span>
				</div>
			</ng-template>
			<app-notes></app-notes>
		</mat-tab>
	</mat-tab-group>
</mat-card>
}
