

.button-container {
  text-align: center;
  margin-top: 20px;
}

.calculator-container {
  // max-width: 600px;
  // margin: 20px auto;
}

.calculator-buttons {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // gap: 10px;
  // margin-top: 10px;
}

