<div class="text-center mb-2 pt-5 md:pt-0 mt-2">
  <div class="grid grid-cols-1 gap-4">
    <!-- Total Spend and Income -->
    <div class="text-center" (click)="toggleExpenseIncome()">
      <div class="text-lg text-muted text-gray-500">You Expense | Income</div>
      <div class="text-responsive-lg mt-1 font-bold text-primary">
        {{ showYearly ? (totalExpenses$ | async | currency:{round: true}) : (totalExpensesByMonth$ | async | currency:{round: true}) }} &nbsp; | &nbsp;
        <span class="text-gray-500">{{ showYearly ? (totalIncome$ | async | currency:{round: true}) : (totalIncomeByMonth$ | async | currency:{round: true} ) }}</span>
      </div>
    </div>
    
  </div>
</div>