@if (loading$ | async) {
<div class="loader-overlay">
  <div class="skeleton-loader">
    <div class="skeleton-header">
      <div class="skeleton-spinner"></div>
      <h3 class="skeleton-title">{{ message }}</h3>
    </div>
    
    <div class="skeleton-content">
      <div class="skeleton-item" 
           *ngFor="let item of skeletonItems; trackBy: trackByIndex"
           [style.width]="item.width"
           [style.height]="item.height"
           [style.margin]="item.margin">
      </div>
    </div>
  </div>
</div>
}