/* Hide scrollbar for all browsers */
.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  /* For Webkit-based browsers */
  overflow: -moz-scrollbars-none;
  -webkit-overflow-scrolling: touch;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
