<div 
  *ngIf="!isOnline" 
  class="fixed top-3 left-12 z-50"
  [@slideDown]
>
  <div class="flex items-center space-x-2 bg-gray-800 bg-opacity-50 rounded-full px-3 py-1 shadow-lg">
    <div class="w-2 h-2 bg-red-500 rounded-full"></div>
    <span class="text-white text-xm font-medium">Offline</span>
  </div>
</div>

<div 
  *ngIf="showOnlineBanner" 
  class="fixed top-3 left-12 z-50"
  [@slideDown]
>
  <div class="flex items-center space-x-2 bg-green-500 bg-opacity-90 rounded-full px-3 py-1 shadow-lg">
    <div class="w-2 h-2 bg-white rounded-full"></div>
    <span class="text-white text-sm font-medium">Connected</span>
  </div>
</div>
