.header-content {
  text-align: center;
  margin-bottom: 16px;
}

.header-title {
  font-size: 1.2em;
  color: gray;
}

.header-amount {
  font-size: 2.5em;
  font-weight: bold;
  color: #4caf50;
}

.item-content {
  flex: 1;
  padding-left: 16px;
}

.item-title {
  font-weight: bold;
}

.item-subtitle {
  color: gray;
}

.item-amount {
  margin-top: 8px;
  margin-bottom: 8px;
}

mat-progress-bar {
  margin-top: 8px;
}

.add-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: #ff4081;
  color: white;
}

.add-btn {
  bottom: 1rem;
  right: 1rem;
  z-index: 9999999;
  position: fixed;
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  
  button{
    background-color: rgb(0 0 0 / 43%);
    color: papayawhip;
  }
}

