<div class="p-5 flex items-center justify-center min-h-screen overflow-hidden">
  <section class="w-full max-w-md sm:max-w-md md:max-w-full lg:max-w-[80vw]">
    <!-- lg:max-w-xl xl:max-w-2xl -->

    <app-header></app-header>

    <section class="px-5 grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-10 lg:grid-cols-3 ">

      <total-balance class="md:col-span-2 lg:col-span-3"></total-balance>
      <calendar-view class="lg:col-span-1"></calendar-view>
      <transaction-list class="lg:col-span-2"></transaction-list>
      
    </section>
    <add-transaction></add-transaction>

  </section>

</div>