<div class="p-5 pt-10  flex items-center justify-center overflow-hidden">
  <section class="w-full max-w-md sm:max-w-md md:max-w-full lg:max-w-full ">

    <app-header></app-header>

    <section class="px-1 grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-5 lg:grid-cols-3 lg:px-16 lg:gap-10">

      <total-balance class="md:col-span-2 lg:col-span-3"></total-balance>
      <calendar-view class="lg:col-span-1"></calendar-view>
      <transaction-list class="lg:col-span-2"></transaction-list>

    </section>
    <add-transaction></add-transaction>

  </section>

</div>