<section
	class="grid grid-cols-1 gap-2 lg:grid-cols-7 lg:px-5 lg:gap-4 xl"
	[ngClass]="{  'md:grid-cols-2 ':!breakpointService.device.isTablePortrait,
'md:gap-5':!breakpointService.device.isTablePortrait
}"
>
	@if(!breakpointService.device.isTablePortrait){
	<calendar-view class="lg:col-span-2"></calendar-view>
	} @if (breakpointService.device.isMobile) {
	<app-budget-card [isHomeView]="true"></app-budget-card>
	<app-account-summary-card [home]="true"> </app-account-summary-card>
	<app-top-categories-card [config]="topCategoriesConfig"> </app-top-categories-card>
	<app-recent-activity-card [config]="recentActivityConfig"></app-recent-activity-card>
	<app-monthly-trends-card [config]="monthlyTrendsConfig"> </app-monthly-trends-card>
    <app-category-breakdown-card [config]="categoryBreakdownConfig"></app-category-breakdown-card>

	}
	<transaction-list *ngIf="!breakpointService.device.isMobile" [isHome]="true" class="lg:col-span-5"></transaction-list>
</section>
