<section class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-6 lg:grid-cols-12 lg:gap-6 xl:gap-8">
	<!-- Calendar View - Full width on mobile, hidden on larger screens -->
	<div class="col-span-1 sm:hidden">
		<calendar-view></calendar-view>
	</div>

	<!-- Key Metrics Summary Card - Full width on all screens -->
	<!-- <div class="col-span-1 sm:col-span-2 lg:col-span-12">
		<app-key-metrics-summary-card [config]="keyMetricsConfig"></app-key-metrics-summary-card>
	</div> -->

	<!-- Top Categories Card - Full width on mobile, half width on tablet, 1/3 on desktop -->
	<div class="col-span-1 sm:col-span-1 lg:col-span-4">
		<app-top-categories-card [config]="topCategoriesConfig"></app-top-categories-card>
	</div>

	<div class="col-span-1 sm:col-span-1 lg:col-span-4">
	<!-- <app-upcoming-transactions-card [config]="upcomingTransactionsConfig"></app-upcoming-transactions-card>  -->
	<app-financial-metrics-card [config]="financialMetricsConfig"></app-financial-metrics-card> 
	</div>

	<!-- Recent Activity Card - Full width on mobile, half width on tablet, 1/3 on desktop -->
	<div class="col-span-1 sm:col-span-1 lg:col-span-4">
		<app-recent-activity-card [config]="recentActivityConfig"></app-recent-activity-card>
	</div>

	<div class="col-span-1 sm:col-span-1 lg:col-span-4">
		<app-account-summary-card></app-account-summary-card>
		<app-budget-card [isHomeView]="true"></app-budget-card>
	</div>

	<!-- Category Breakdown Card - Full width on mobile, half width on tablet, 1/3 on desktop -->
	<!-- <div class="col-span-1 sm:col-span-2 lg:col-span-8">
		<app-category-breakdown-card [config]="categoryBreakdownConfig"></app-category-breakdown-card>
	</div> -->

	<!-- <div class="col-span-1 sm:col-span-2 lg:col-span-4">
		<app-category-breakdown-card [config]="categoryPieBreakdownConfig"></app-category-breakdown-card>
	</div> -->

	<!-- Budget Card - Full width on mobile, half width on tablet, 5/12 on desktop -->
	<div class="col-span-1 sm:col-span-1 lg:col-span-7"></div>

	<!-- Monthly Trends Card - Full width on all screens -->
	<!-- <div class="col-span-1 sm:col-span-2 lg:col-span-12">
		<app-monthly-trends-card [config]="monthlyTrendsConfig"></app-monthly-trends-card>
	</div> -->

	<!-- Quick Actions FAB - Fixed position, not part of grid -->
	<app-quick-actions-fab [config]="quickActionsFabConfig"></app-quick-actions-fab>
</section>
