<div class="app-shell" [class.app-shell-hidden]="!state.isVisible">
  <header class="app-shell-header">
    <div class="app-shell-logo">
      <div class="app-shell-logo-icon">
        <img src="assets/images/logo.svg" alt="Money Manager Logo" class="logo-image">
      </div>
      <span class="app-shell-logo-text">{{ APP_CONFIG.APP_NAME }}</span>
    </div>
    <div class="app-shell-skeleton app-shell-skeleton-avatar"></div>
  </header>
  
  <main class="app-shell-content">
    <div class="app-shell-loading !pt-10 md:!pt-0">
      <div class="app-shell-spinner "></div>
      <h2 class="app-shell-loading-title">{{ state.loadingMessage }}</h2>
      <p class="app-shell-loading-subtitle">{{ state.loadingSubMessage }}</p>
    </div>
    
    <div class="app-shell-skeleton-content">
      <app-skeleton-loader type="dashboard"></app-skeleton-loader>
    </div>
  </main>
  
  <footer class="app-shell-footer">
    <p class="app-shell-footer-text">© 2024 {{ APP_CONFIG.APP_NAME }} - Your Personal Finance Assistant</p>
  </footer>
</div>