/* Footer */
.footer {
  color: white;
  text-align: right;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
      align-content: space-between;

}