/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-calendar-body-label {
  display: none;
}

.mat-calendar-header {
  padding: 0 !important;
}

.mat-calendar-controls {
    margin: 2% calc(4.7142857143% - 16px) !important;
}