name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # Change if needed

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install Dependencies
        run: npm install --force

      - name: Build Angular app
        run: npm run build --if-present
        # If using NX monorepo, replace with:
        # run: npx nx build <app-name> --prod

      - name: Upload artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
            path: dist/money-manager/browser  # Your actual output folder

  deploy:
    needs: build-deploy
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
